@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet styles */
.leaflet-container {
  z-index: 0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white !important;
}

:root.dark .leaflet-popup-content-wrapper,
:root.dark .leaflet-popup-tip {
  background: rgb(31, 41, 55) !important;
  color: white;
}

/* Fix map tiles in dark mode */
:root.dark .leaflet-tile {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

:root.dark .leaflet-container {
  background: #303030;
}